
html,body{
    background: rgb(253,242,45);
    background: linear-gradient(180deg, rgba(253,242,45,1) 0%, rgba(254,251,194,1) 47%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    padding-bottom: 25px;
}

header{
    background-color: #4b4949;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

footer{
    position:fixed;
    background-color: #4b4949;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;

}

.card.mw-100{
    margin-top: 15px;
    background: rgb(224,234,255);
    background: radial-gradient(circle, rgb(173, 190, 225) 0%, rgba(185,255,255,1) 100%);
    border: gray solid 4px;
    border-radius: 15px;
}

.card-text{
    color:black
}

.col-lg-9{
    text-align: center;
}

.list-group-item{
    color:lightslategrey
}

.DayBlock{
    background-color:#3f89f8; 
    color: whitesmoke; 
    border-radius: 5px; 
    padding-left: 6px;
    padding-right: 0px;
}

.fiveDayBlock{
    display:inline-flexbox;
}

.fivedaycardfont {
    font-size: 18px;
}

.card-title {
    font-size: 25px;
    text-emphasis:bold;
}