header{
    background-color: #4b4949;
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.card-text{
    color:lightslategrey
}
.list-group-item{
    color:lightslategrey
}

.DayBlock{
    background-color:#3f89f8; 
    color: whitesmoke; 
    border-radius: 5px; 
    padding-left: 6px;
    padding-right: 6px;
}

.fivedaycardfont {
    font-size: 10px;
}